body{
    padding: 0;
    margin: 0;
    background-size: cover;
    font-family: sans-serif;
    height: 110rem;

}
body::-webkit-scrollbar{
    width:15px;
    border-radius: 100px;
}
body::-webkit-scrollbar-thumb{
    background: #1ebbd7;
}

.container-form{
    padding: 0px;
    margin: 0px;
    margin-right: 20px;
    position: absolute;
    top: 250px;
    left: 300px;
    height: auto;
    width: 80%;
    font-family: sans-serif;
}
/*controlamos todo el contenido*/
label{
    padding: 10px;
    display: inline-block;
}
/* controlamos los numeros*/
.contador{
    font-size: 30px;
    padding: 10px;
    /*border: 1px solid black;*/
    margin: 10px;
    font-weight: bold;
    transform: translateX(250px);
}
.container-form p{
    padding: 10px;
    margin: 10px;
    /*border: 1px solid black;*/
    position: relative;
    left: -100px;
    font-size: 25px;


}

.itens {
    border: 10px solid #1ebbd7;
    border-radius: 20px;
}
.it{
    width: 100px;
}
.it1{
    width: 300px;
}
.itens1 {
    border: 10px ;
    height: 50px;
    width: 100px;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
    padding:10px;
    /*    border: 1px solid black;*/
    margin: 100px;
    background: #1ebbd7;
    color:white;

}
thead{
  background: red;
}
input[type=checkbox], input[type=radio]
{
    /* Doble-tamaño Checkboxes */
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(3); /* Safari y Chrome */
    -o-transform: scale(2); /* Opera */
    padding: 10px;
    cursor: pointer;
}


.email:hover{
    color: #a7adba;
}
.nombre:hover{
    color: #a7adba;

}
.Table{
    width: 700px;
    position: absolute;
    top: 100px;
    left: 850px;
}
input[type="submit"]{
    outline: none;
    background: #1ebbd7;
    color: white;
    border: none;
     height:50px;
    width: 400px;
    border-radius: 20px;
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
}input[type="submit"]{
    position: absolute;
    top: 650px;
    left: 1200px;
}
input[type="submit"]:hover{
    background: #005073;
}