
body {
    padding: 0;
    margin: 0;
    background: transparent;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial;
    height: 100vh;
}
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --color-bg-btn: #0062cc;
    --color-bg-btn-hover: #0062aa;
    --color-shadow-btn-active: rgba(0, 0, 0, .3);
    --color-border-field: rgb(200, 200, 200);
}
.form{
    height:690px;
    width: 85%;
    position:absolute;
    top:300px;
    left:275px;
    border: 4px solid black;
}
.form p{
    display:flex;
    position: relative;
    top:0px;
    right: 150px;
    font-family:arial;
    font-size:25px;
    font-weight:bold;
}
.input-file {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 10px;
}

.input-file__input {
    display: none;
}
/* movemos los inputs*/
.input-file__field, .input-file__btn {
   display: inline-block;
    height: 34px;
    padding: 6px 12px;
    border-radius: 17px;
    transform: translate(-350px,10px);
}

/* botones*/


.input-file__btn {
    background-color: var(--color-bg-btn);
    color: red;
    height: 50px;
    width: 250px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    font-size: 25px;
}

.input-file__btn:hover {
    background-color: var(--color-bg-btn-hover);
}


/* controlamos los inputs*/
.input-file__field {
    border: 3px solid var(--color-border-field);
    height: 50px;
    width: 700px;
    margin-right: 12px;
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    background: white;
    margin:15px;
    font-size: 20px;
    text-align: center;
}

.input-file--reverse .input-file__field {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-right: 0;
    margin-left: 5px;
}