.scl{
    position: absolute;
    right: -140px;
}
.slc select{
    top: 65px;
    width: 450px;
}
.itens {
    border: 10px solid #1ebbd7;
    border-radius: 20px;
    right: 1050px;
    top: 400px;
}
.it{
  width: 100px;
}
 .itens1 {
    border: 10px ;
    height: 50px;
    width: 100px;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold; 
    padding:10px;
/*    border: 1px solid black;*/
    margin: 100px;
    background: #1ebbd7;
    color:white;
    
}
.from{
    position: absolute;
    width: 600px;
    height: 60%;
    right: 50px;
    top: 340px;
}

input[type="text"]{
    position: relative;
    width: 100%;
    height: 50px;
    top: 40px;
}
 input[type="text"]{
  
    background: transparent;
    border-bottom:  2px solid black;
    outline: none;
    color: black;
    font-size: 20px;

}

input[type="submit"]{
    position: relative;
    top: 50px;
    border: none;
    width: 45%;
    border-radius: 10px;
    background: #0392cf;
    border-bottom:  3px solid black;
    outline: 0;
    height: 40px;
    color: white;
    font-size: 20px;}
input[type="submit"]:hover{
    background: #0392ff;
    cursor: pointer;
}

h1{
    font-weight: bold;
    text-align: center;
    font-family: Copperplate Gothic Bold;
    font-size: 45px;
    top: 80px;
    margin: 0;
}
table{
    position: absolute;
    transform: translate(-50%, -50%);
   
}