body {
    padding: 0;
    margin: 0;
    background: url(../Imagenes/fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial;
    height: 100vh;
}
* {
    box-sizing: border-box;
}
.Img1{
    width: 300px;
    transform: translate(190% ,190%);
    position: absolute;
}
.Img2{
    width: 300px;
    transform: translate(300% ,190%);
    position: absolute;
}
.Img3{
    width: 300px;
    transform: translate(410% ,68%);
    position: absolute;
}


.Login{
    width: 600px;     /*    ancho*/
    height: 500px;  /*    largo*/
    background: whitesmoke;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(10% ,-35%);
    box-sizing:  border-box;
    text-align: center;
    padding: 50px 10px;
    margin: 0;
}
.Login{
    border-radius: 00px 50px 50px 0px;
    border: 3px solid black;
}
.Login h1{
    font-weight: bold;
    text-align: center;
    font-family: Copperplate Gothic Bold;
    font-size: 45px;
    top: 80px;
    margin: 0;
}

.Login label{
    margin: 0;
    padding: 0 0 20px;
    font-weight: bold;
    display: block;
    font-size: 20px;
}
.Login input{
    width: 100%;
    margin-bottom: 20px;

}
.Login input[type="text"],
.Login input[type="password"]{
    border: none;
    background: transparent;
    border-bottom:  2px solid black;
    outline: none;
    height: 40px;
    color: black;
    font-size: 20px;

}

.Login input[type="submit"]{

    border: none;
    width: 45%;
    border-radius: 10px;
    background: #0392cf;
    border-bottom:  3px solid black;
    outline: 0;
    height: 40px;
    color: white;
    font-size: 20px;


}
.login a{
    text-decoration: none;
    font-size: 18px;
    line-height: 20px;
    color: darkgrey;
    font-weight: bold;

}
.login a:hover{
    color: black;
}
.Text {

    width: 600px;     /*    ancho*/
    height: 500px;  /*    largo*/
    background: #0392cf;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate( -90% ,-35%);
    box-sizing:  border-box;
    padding: 80px 8px;
}
.Text{
    border-radius: 50px 0px 0px 50px;
    border: 3px solid black;
}
.Titulo h1{
    text-align:  center;
    font-size: 35px;
    font-weight: bold;
}

.Titulo h1{
    color: white;
    margin: 10px;

}
.Titulo h2{
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    font-size: 100px;
}
.Titulo h2{
    transform: translate(10px, -80px);
    width: 90%;
}
.Titulo h3{
    transform: translate(10px, -40px);
    color: white;
    font-size:25px;
    text-align:  center;
    color: white;
}
.Pie{
    clear:both;
    width: 90%;
    margin: 0px auto;
    background: linear-gradient(to bottom, #f9f9f9 0px, #e9e9e9 100%);
    border: 1px solid #c9c9c9;
    border-bottom: none;
    border-radius: 8px 8px 0px 0px;
    color: #666;
    height: auto;
    padding: 15px;
    text-align: center;
}