body{
    padding: 0;
    margin: 0;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial;
    height: 100vh;
    background: white;
}
.Container{
    width: auto;
    height: 150px;
}

ul, ol{
    list-style: none;
}

.Header{
    position:  absolute;
    transform: translate(1400px ,45px);

}
.Header > li{
    float: left;
}
.Header li a {
    background-color:transparent;
    color: black;
    text-decoration:none;
    padding:10px 12px;
    display:block;
    font-family: Franklin Gothic Medium Cond;
    font-size: 25px;
}
.Header  li a:hover {
    background-color:#cccccc;
}
.Header li ul{
    display:none ;
    position:  absolute;
    min-height: 180px;
    min-width: 100px;
}
.Header li:hover >ul{
    display:  block;
}

.Imagen1{
    transform: translate(175px ,50px);
    position: absolute;
    width: 350px;
}
.Imagen2{
    transform: translate(550px ,50px);
    position: absolute;
    width: 350px;
}
.Imagen3{
    transform: translate(950px ,-2px);
    position: absolute;
    width: 350px;
}
.Menu{
    position: absolute;
    transform: translate( 0px ,-150px);
}
.Menu{
    background:#3399cc ;
    width: 100px;
    height: 100%;
    border: 1px solid black;
}

.Icono1{
    width: 80px;
}
.Icono2{
    width: 80px;
}
.Icono3{
    width: 80px;

}
.Icono4{
    width: 60px;
    position: relative;
    top: 50px;
    right: -20px;
}
.Body > li{
    float: start;
}

.Body li a {
    background-color: transparent;
    color: black;
    text-decoration:none;
    padding:10px 12px;
    display:block;
    font-family: Franklin Gothic Medium Cond;
    font-size: 25px;
}
.Body li > a:hover {
    background-color:#cccccc;
}
.Body li ul{
    display:none ;
    position:  absolute;
    min-height: 80px;
    min-width: 80px;
}

.Body li:hover >ul{
    display:  block;
    background: #3399cc;
    border-radius: 00px 20px 20px 0px;
}

.Body li ul {
    position:relative;
}

.Body li ul    {
    right:-70px;
    top:-75px;
}
.Body{
    position:  absolute;
    transform: translate(-20px ,250px);
}


.Icon1{
    width: 50px;
}
.Icon2{
    width: 50px;
}
.Icon3{
    width: 50px;
}

.mensseger{
    width: 1600px;     /*    ancho*/
    height: 780px;  /*    largo*/
    background: white;
    top: 60%;
    right: -800px;
    position: absolute;
    transform: translate(-50% ,-50%);
    box-sizing:  border-box;
    padding: 50px 10px;
    margin: 0;
}
.mensseger p{
    text-align: center;
    font-size: 80px;
}

.center{
    width: 550px;     /*    ancho*/
    height: 0px;  /*    largo*/
    background: white;
    top: 200px;
    right: 1050px;
    position: absolute;
    box-sizing:  border-box;
    padding: 20px ;
    margin: 0;

}
.center label{
    margin: 20px;
    font-size: 25px;
    font-weight: bold;
}
.block input,select{
    width:60%;
    padding: 10px;
    border-color: black;
    background: f7f7f7;
    font-size: 20px;
    text-align: center;
    position: relative;
    left: 270px;
    bottom: 30px;
    box-sizing:  border-box;
    display: flex;
}


.formulario2{
    height: 500px;
    width: 850px;
    position:absolute;
    top: 100px;
    botton:100px;
    right:-1000px;
    padding: 20px ;
}
.block2 input{
    width:60%;
    padding: 10px;
    border-color: black;
    background: f7f7f7;
    font-size: 20px;
    text-align: center;
    position: relative;
    left: 350px;
    bottom: 30px;
    box-sizing:  border-box;
    display: flex;
}
.block2 label{
    margin: 20px;
    font-size: 25px;
    font-weight: bold;
}

.boton input[type="submit"]{
    border:none;
    outline: none;
    height:50px;
    width: 50%;
    background: #0392cf;
    color:white;
    border-radius: 20px;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
    position: relative;
    top:-700px;
    left:120px;
    transform: translate(1100px,500px);
}
.boton input[type="submit"]:hover{
    background: aqua;
}